<!DOCTYPE html>
<html lang="en">
<head>
  <title>English</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron text-center" style="margin-bottom:0">
  <h1>English</h1>
  <p>Po-prostomu</p> 
</div>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top">
  <a class="navbar-brand" th:href="@{/}">All words</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" th:href="@{/add/newWord}">Add word</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/learn/learnWords}">Learn words</a>
      </li>   
      <th:block sec:authorize="isAuthenticated()">
						<li class="nav-item"><a class="nav-link"
							th:href="@{/logout}">Logout</a></li>
					</th:block> 
    </ul>
  </div>  
</nav>

<h1>Не правильно!</h1>

<div class="jumbotron text-center" style="margin-bottom:0">
  <p>elnglish po-prostomu</p>
</div>

</body>
</html>