<!DOCTYPE html>
<html lang="en">
<head>
  <title>English</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron text-center" style="margin-bottom:0">
  <h1>English</h1>
  <p>Po-prostomu</p> 
</div>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top">
  <a class="navbar-brand" th:href="@{/}">All words</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" th:href="@{/add/newWord}">Add word</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/learn/learnWords}">Learn words</a>
      </li>    
    </ul>
  </div>  
</nav>

<div class="container">
  <h2>Login form</h2>
  <!-- /login?error=true -->
         <th:block th:if="${#session != null && #session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION') != null}">
             <div th:if= "${#request.getParameter('error') == 'true'}"
                style="color: red; margin: 10px 0px;">
                Login Failed!!!<br /> Reason :
                <span th:utext="${#session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION').message}"></span>
             </div>
         </th:block>
  
  <c:url value="/j_spring_security_check" var="loginUrl" />
  <form th:method="POST" th:action="@{/j_spring_security_check}">
    <div class="form-group col-3">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" required>
    </div>
    <div class="form-group  col-3">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="password" required>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button> 
    <span>OR</span>
    <a th:href="@{reg/registration}" class="btn btn-primary" role="button" title="">Register</a>
  </form>
  <span class="error-message" th:utext="${error}"></span>
</div>

<div class="jumbotron text-center" style="margin-bottom:0">
  <p>elnglish po-prostomu</p>
</div>

</body>
</html>